@use "../abstracts/index" as *;

.nav {
  padding: 1.5rem $mobile-spacing;
  display: flex;
  align-content: center;
  justify-content: space-between;
  @include tablet {
    padding: 1.5rem $tablet-spacing;
  }
  @include desktop {
    padding: 1.5rem $desktop-spacing;
  }


  img {
    width: 100%;
    height: 100%;
  }

  &__contact {
    background-color: $primary-color;
    text-align: center;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    transition: all .2s ease;
    display: none;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    @include tablet {
      display: inline-block;
    }
  }


  &__logo {
    width: 4rem;
    @include tablet {
      width: 14rem;
    }
    @include desktop {
      width: 20rem;
    }

    img {
      &:first-of-type {
        display: none;
        @include tablet {
          display: inline-block;
        }
      }

      &:last-of-type {
        @include tablet {
          display: none;
        }
      }
    }
  }

  &__open {
    font-size: 2rem;
    @include tablet {
      display: none;
    }
  }


  .links {
    list-style: none;
    gap: 2rem;
    font-size: 1.4rem;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    display: none;
    @include tablet {
      display: flex;
    }
    @include desktop {
      gap: 5rem;
    }

    .link {
      transition: all .2s ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__mobile {
    display: none;
    position: fixed;
    background-color: $white;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 5rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem $mobile-spacing;
      font-size: 2.5rem;

      img {
        display: inline-block;
        width: 4rem;
      }

      span {
        cursor: pointer;
      }
    }

    &--open {
      display: flex;
      @include tablet {
        display: none;
      }
    }

    &_contact {
      text-transform: capitalize;
      color: white;
      font-weight: 700;
      background-color: $primary-color;
      padding: 1rem;
      width: 70%;
      margin: 0 auto;
      text-align: center;
      border-radius: .5rem;


      &:hover {
        background-color: $hover-primary-color;
      }
    }

    &__links {
      list-style: none;
      text-transform: capitalize;
      font-weight: 700;
      text-align: center;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .link {
        transition: all .2s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}