.contact {
  width: 100%;
  margin: 5rem auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.5rem 5%;
  }
}
@media only screen and (min-width: 992px) {
  .contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 7rem 10%;
  }
}
.contact .information h6 {
  margin-bottom: 3rem;
  color: #1d63f4;
}
.contact .information h1 {
  margin: 1rem 0;
  color: #34313d;
}
.contact .information h5 {
  margin-bottom: 8rem;
  color: #34313d;
}
.contact .help {
  display: flex;
  gap: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  border: #34313d 1px solid;
  margin: 5rem 0;
}
.contact .help img {
  width: 1.2rem;
}
.contact .fill {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  background-color: #f1f4fa;
  padding: 4rem;
  border-radius: 2rem;
}
@media only screen and (min-width: 992px) {
  .contact .fill {
    width: 65rem;
  }
}
.contact .fill * {
  height: 5rem;
  border-style: none;
  border: 1px solid #E5E5E5;
  border-radius: 1rem;
  padding: 1rem;
}
.contact .fill textarea {
  height: 15rem;
}
.contact .fill input:last-child {
  font-weight: bold;
  color: #f1f4fa;
  background-color: #1d63f4;
}