.intro {
  padding: 4rem 2rem;
  padding-top: 5rem;
}
@media only screen and (min-width: 768px) {
  .intro {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5%;
    padding-top: 5rem;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .intro {
    padding: 5rem 10%;
    padding-bottom: 0;
  }
}
.intro__img {
  display: none;
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .intro__img {
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  .intro__img {
    height: 40vw;
  }
}
.intro__img img {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
}
.intro__main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .intro__main {
    align-items: flex-start;
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .intro__main {
    justify-content: center;
  }
}
.intro__main h1 {
  text-transform: capitalize;
  font-size: 3rem;
}
@media only screen and (min-width: 768px) {
  .intro__main h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .intro__main h1 {
    font-size: 4.5rem;
  }
}
.intro__main h1 span {
  color: #1d63f4;
}
.intro__text {
  font-size: 1.4rem;
}
.intro__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: #1d63f4;
  transition: all 0.2s ease;
  font-weight: 700;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .intro__btn {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .intro__btn {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
}
.intro__btn:hover {
  background-color: #0a4cd4;
}

.promotionals {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
}
@media only screen and (min-width: 768px) {
  .promotionals {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 5%;
  }
}
@media only screen and (min-width: 992px) {
  .promotionals {
    flex-wrap: nowrap;
    padding: 5vw 12%;
  }
}
.promotionals__card {
  text-align: center;
  padding: 0 4rem;
}
@media only screen and (min-width: 768px) {
  .promotionals__card {
    flex-basis: 45%;
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .promotionals__card {
    flex-basis: unset;
  }
}
.promotionals__card .icon {
  font-size: clamp(5rem, 7vw, 6rem);
  color: #9ca0af;
}
.promotionals__card .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.promotionals__card .info .title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .promotionals__card .info .title {
    font-size: 1.6rem;
  }
}
.promotionals__card .info .text {
  font-size: 1.4rem;
}

.about {
  padding: 0 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 0 5%;
  }
}
@media only screen and (min-width: 992px) {
  .about {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 768px) {
  .about {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .about {
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 10rem;
  }
}
.about_img {
  display: none;
  background-color: rgba(29, 99, 244, 0.2);
  border: 1px solid #2d98fb;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .about_img {
    display: block;
  }
}
.about_img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
}
@media only screen and (min-width: 768px) {
  .about_img img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .about_img img {
    width: 90%;
  }
}
@media only screen and (min-width: 1400px) {
  .about_img img {
    width: 80%;
  }
}
.about .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .about .info {
    text-align: left;
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 992px) {
  .about .info {
    padding: 3.5vw 0;
  }
}
.about .info .title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #1d63f4;
}
.about .info .moto {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .info .moto {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .about .info .moto {
    font-size: clamp(3.5rem, 4vw, 5rem);
  }
}
.about .info .text {
  color: #7b7b7b;
}
.about .info .benefits {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 768px) {
  .about .info .benefits {
    gap: 2rem;
  }
}
.about .info .benefits .benefit {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .about .info .benefits .benefit {
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-start;
  }
}
.about .info .benefits .benefit_icon {
  font-size: 3.5rem;
  color: #ffffff;
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: #1d63f4;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
}
.about .info .benefits .benefit_icon:hover {
  background-color: #0a4cd4;
}
@media only screen and (min-width: 768px) {
  .about .info .benefits .benefit_icon {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .about .info .benefits .benefit_icon {
    font-size: 3rem;
  }
}
.about .info .benefits .benefit_info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.about .info .benefits .benefit_title {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .about .info .benefits .benefit_title {
    font-size: 1.6rem;
  }
}
.about .info .benefits .benefit_text {
  font-size: 1.4rem;
  color: #7b7b7b;
}

.home--main {
  background-color: #f1f4fa;
}