@use "../../abstracts/index" as *;


.patients {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include tablet {
    border: 1px solid $primary-bg-color;
    padding: 0 3rem;
    border-radius: 1rem;
    gap: unset;
  }

  &_placeholder {
    text-align: center;
    text-transform: capitalize;
    opacity: .5;
    margin-top: 5rem;
    @include tablet {
      font-size: 2rem;
    }
  }

  &_pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      background-color: $primary-bg-color;
      padding: .8rem 1rem;
      border-radius: .5rem;
      transition: all .2s ease;

      &:hover {
        background-color: darken($primary-bg-color, 10%);
      }
    }
  }


  .columns {
    display: none;
    @include tablet {
      display: grid;
      text-transform: capitalize;
      color: $color-3;
      font-size: 1.4rem;
      font-weight: 700;
    }

    &--more {
      position: absolute;
      right: 1rem;
      top: 1rem;
      @include tablet {
        position: unset;
        right: unset;
        top: unset;
      }

      &:last-of-type {
        display: flex;
        justify-content: flex-end;
      }
    }


  }

  .patient {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $primary-bg-color;
    border-radius: 1rem;
    padding: 1rem;
    gap: .5rem;
    position: relative;
    padding-top: 2rem;
    @include tablet {
      border: none;
      gap: unset;
      position: unset;
    }

    &:last-of-type {
      @include tablet {
        border-bottom: none;
      }
    }

    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.4rem;

    img {
      @include size(8rem);
      border-radius: 5rem;
      object-fit: cover;
      @include tablet {
        @include size(4rem)
      }
    }

    .more {
      position: relative;
      justify-self: flex-end;
      cursor: pointer;

      &_btn {
        border-radius: 5rem;
        @include size(3rem);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-bg-color;
        transition: all .2s ease;

        &:hover {
          background-color: darken($primary-bg-color, 5%);
        }
      }

      &_options {
        position: absolute;
        right: 50%;
        top: 100%;
        z-index: 1;
        background-color: $white;
        box-shadow: 0 0 .2rem rgba(black, 0.25);
        font-size: 1.4rem;
        border-radius: .5rem;
        display: none;
        flex-direction: column;

        &--open {
          display: flex;
        }

        span {
          cursor: pointer;
          padding: 1rem;
          display: inline-block;
          font-size: 1.4rem;

          &:hover {
            background-color: $primary-bg-color;
          }
        }


      }


      .option {
        &-danger {
          color: $red;
        }
      }
    }
  }


  .patient, .columns {
    @include tablet {
      display: grid;
      grid-template-columns: 5rem repeat(2, 1fr) 1.5fr repeat(2, 10%) 8%;
      gap: 1rem;
      border-bottom: 1px solid $primary-bg-color;
      padding: 2rem 0;
      align-items: center;
    }


  }
}
