$fonts: Gilroy, Arial, sans-serif, Serif;

$desktop-spacing: 10%;
$tablet-spacing: 5%;
$mobile-spacing: 2rem;

$secondary-color: #2d98fb;
$primary-color: #1d63f4;

$hover-primary-color: darken($primary-color, 10%);


$primary-bg-color: #f1f4fa;
$secondary-bg-color: #b3caf0;

$primary-text-color: #34313d;


$color-1: #e4bdad;
$color-2: #a97670;
$color-3: #9ca0af;

$grey: #9d9d9d;
$dark-grey: #7b7b7b;
$red: #f63964;
$blue: #383bd7;
$green: #4bca90;
$orange: #ea492a;
$text-grey: #c4c4c4;
$white: #ffffff;

$color-rating: #fab612;
