@use "../abstracts" as *;


.home {

}

.intro {

}

.promotionals {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: $padding-mobile;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem $padding-tablet;
  }
  @include desktop {
    flex-wrap: nowrap;
    padding: 5rem $padding-desktop + 2%;
  }

  &__card {
    text-align: center;
    padding: 0 4rem;
    @include tablet {
      flex-basis: 45%;
      padding: 0 2rem;
    }
    @include desktop {
      flex-basis: unset;
    }

    .icon {
      font-size: clamp(5rem, 7vw, 6rem);
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;

      .title {
        font-weight: bold;
        text-transform: capitalize;
        font-size: 1.8rem;
        @include tablet {
          font-size: 1.6rem;
        }
      }

      .text {
        font-size: 1.4rem;
      }
    }

  }
}