.patient_form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(white, .5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &_container {


  }
}