.filters {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.filters form {
  flex: 1;
}
@media only screen and (min-width: 768px) {
  .filters form {
    flex: unset;
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .filters form {
    width: 30%;
  }
}
.filters_search {
  border: 1px solid #f1f4fa;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  width: 100%;
}
.filters_search .icon {
  display: inline-block;
  color: #7b7b7b;
}
.filters_search input {
  border: none;
  flex: 1;
  padding: 1rem;
}
.filters_search input::placeholder {
  text-transform: capitalize;
  color: #9ca0af;
}
.filters_search input:focus {
  outline: none;
}
.filters_search--active {
  border-color: #2d98fb;
}
.filters_search--active .icon {
  color: #2d98fb;
}
.filters_btn {
  background-color: #2d98fb;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  gap: 0.5rem;
  transition: all 0.2s ease;
}
.filters_btn:hover {
  background-color: #057ff0;
}
@media only screen and (min-width: 768px) {
  .filters_btn {
    font-size: 1.6rem;
    gap: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .filters_btn {
    font-size: 1.4rem;
  }
}
.filters_btn .icon {
  font-size: 1.8rem;
}
.filters_btn .text {
  text-transform: capitalize;
  display: none;
}
@media only screen and (min-width: 768px) {
  .filters_btn .text {
    display: inline-block;
  }
}

.patients {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .patients {
    border: 1px solid #f1f4fa;
    padding: 0 3rem;
    border-radius: 1rem;
    gap: unset;
  }
}
.patients_placeholder {
  text-align: center;
  text-transform: capitalize;
  opacity: 0.5;
  margin-top: 5rem;
}
@media only screen and (min-width: 768px) {
  .patients_placeholder {
    font-size: 2rem;
  }
}
.patients_pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.patients_pagination a {
  background-color: #f1f4fa;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.patients_pagination a:hover {
  background-color: #cbd6ed;
}
.patients .columns {
  display: none;
}
@media only screen and (min-width: 768px) {
  .patients .columns {
    display: grid;
    text-transform: capitalize;
    color: #9ca0af;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
.patients .columns--more {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media only screen and (min-width: 768px) {
  .patients .columns--more {
    position: unset;
    right: unset;
    top: unset;
  }
}
.patients .columns--more:last-of-type {
  display: flex;
  justify-content: flex-end;
}
.patients .patient {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f1f4fa;
  border-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  position: relative;
  padding-top: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .patients .patient {
    border: none;
    gap: unset;
    position: unset;
  }
}
@media only screen and (min-width: 768px) {
  .patients .patient:last-of-type {
    border-bottom: none;
  }
}
.patients .patient img {
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .patients .patient img {
    width: 4rem;
    height: 4rem;
  }
}
.patients .patient .more {
  position: relative;
  justify-self: flex-end;
  cursor: pointer;
}
.patients .patient .more_btn {
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f4fa;
  transition: all 0.2s ease;
}
.patients .patient .more_btn:hover {
  background-color: #dee5f3;
}
.patients .patient .more_options {
  position: absolute;
  right: 50%;
  top: 100%;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
}
.patients .patient .more_options--open {
  display: flex;
}
.patients .patient .more_options span {
  cursor: pointer;
  padding: 1rem;
  display: inline-block;
  font-size: 1.4rem;
}
.patients .patient .more_options span:hover {
  background-color: #f1f4fa;
}
.patients .patient .more .option-danger {
  color: #f63964;
}
@media only screen and (min-width: 768px) {
  .patients .patient, .patients .columns {
    display: grid;
    grid-template-columns: 5rem repeat(2, 1fr) 1.5fr repeat(2, 10%) 8%;
    gap: 1rem;
    border-bottom: 1px solid #f1f4fa;
    padding: 2rem 0;
    align-items: center;
  }
}

@keyframes appear {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.patient_form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 0.3s ease forwards;
  z-index: 3;
}
.patient_form_close {
  box-shadow: inherit;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: inherit;
  position: absolute;
  top: -1.5rem;
  right: 2rem;
  cursor: pointer;
}
.patient_form_container {
  background-color: #ffffff;
  padding-top: 3rem;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .patient_form_container {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .patient_form_container {
    width: 35%;
    padding-top: 5vh;
  }
}
.patient_form .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 992px) {
  .patient_form .form {
    gap: clamp(1rem, 2vh, 2rem);
  }
}
.patient_form .form_footer {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  text-transform: capitalize;
  color: #2d98fb;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #f1f4fa;
}
@media only screen and (min-width: 992px) {
  .patient_form .form_footer {
    margin-top: 0;
  }
}
.patient_form .form_footer > * {
  cursor: pointer;
}
.patient_form .form_footer button {
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: #2d98fb;
  color: white;
  transition: all 0.2s ease;
  text-transform: capitalize;
  font-weight: 700;
}
.patient_form .form_footer button:hover {
  background-color: #1d63f4;
}
.patient_form h2, .patient_form label {
  margin: 0 2rem;
}
.patient_form h2 {
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.patient_form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.patient_form label span {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.4rem;
}
.patient_form label input {
  padding: 1rem;
  border: 1px solid #f1f4fa;
  border-radius: 1rem;
}

.dashboard {
  padding: 0 2rem;
  margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .dashboard {
    padding: 0 5%;
  }
}
@media only screen and (min-width: 992px) {
  .dashboard {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 992px) {
  .dashboard {
    margin-top: 5rem;
  }
}
.dashboard_logout {
  padding: 1rem;
  background-color: #1d63f4;
  color: white;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  position: fixed;
  bottom: 3rem;
  z-index: 2;
  right: 3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
@media only screen and (min-width: 992px) {
  .dashboard_logout {
    right: 6rem;
    bottom: 4rem;
  }
}
.dashboard_logout:hover {
  background-color: #0b55ec;
}

/*# sourceMappingURL=dashboard.css.map */
