@use "../abstracts/index" as *;

*,
*:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

body {
  font-family: $fonts;
  font-size: 1.6rem;
  color: $primary-text-color;
}